name: Publish Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_PATH }}

    - name: Build and push app images
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        push: true
        tags: |
          ghcr.io/curcolor/prontoaweb-web:latest
          ghcr.io/curcolor/prontoaweb-bot:latest

    - name: Re-tag and push database image
      run: |
        docker pull postgres:15-alpine
        docker tag postgres:15-alpine ghcr.io/${{ github.repository_owner }}/prontoaweb-db:15-alpine
        docker push ghcr.io/${{ github.repository_owner }}/prontoaweb-db:15-alpine